.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mb {
  margin-bottom: 1.25rem;
}

.mt {
  margin-top: 1.25rem;
}

.pt {
  padding-top: .5rem;
}

.pb {
  padding-bottom: .5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.mb-hero-p {
  margin-bottom: .75rem;
}

.text-bold-grey {
  font-weight: 700;
  color: #212121;
}